@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&family=Poppins:ital@0;1&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: (
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.nav-link {
  display: inline-block;
  padding: 4px 20px 4px 20px; /* (top, right, bottom, left) (top, bottom) (top, right/left, bottom) (all) */
  border-radius: 6px;
  transition: background-color 0.5s ease; /* Adjust the duration as needed */
}

.nav-link:hover {
  background-color: rgb(37 99 235);
  color: #fff;
}

.course-img {
  width: 180px;
  height: 135px;
  overflow: hidden;
  border-radius: 2rem; /* 16px */
  padding: 8px;
  margin-top: 4px;
  
}
.box-shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)
}

